h1{
    text-align: center;
}

h4{
    color: burlywood;
}

p {
    color: blueviolet;
}

.divfooter {
    p{
        color:darkgoldenrod;
    }
}

.botonjs{
    background-color: darkblue;
    color: gold;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}